<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/price_list">Price List</a></li>
	        		<li><a href="/face_reflexology">Zonefacelift & Face Reflexology</a></li>
	        		<li><a href="/FAQs">Frequently Asked Questions</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:carshaltonreflexology@outlook.com">email</a></li>
	        		<li><a href="/contactus">Contact Carshalton Reflexology</a></li>
				</ul>
			</footer>
		</body>
	</html>
