<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<section>
				<p><a href=https://www.fresha.com/a/carshalton-reflexology-wallington-park-lane-mr8ausql/booking?menu=true&pId=1384912&fbclid=PAY2xjawG6qmdleHRuA2FlbQIxMAABpsArgp00PbGOdbwuW-AMQS1Hl8HjKkzwJXIBU9EAzrQjSqmkmJrnyPpK0g_aem_SYo8Aq8qtKz7NAJwznRmRg>Book Online<a></a></p>
			</section>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/price_list">Price List</a></li>
	        		<li><a href="/face_reflexology">Zonefacelift & Face Reflexology</a></li>
	        		<li><a href="/FAQs">Frequently Asked Questions</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="/contactus">Contact Carshalton Reflexology</a></li>
	        		<li><a href="mailto:carshaltonreflexology@outlook.com">carshaltonreflexology@outlook.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
